.container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 95%;
  padding: 20%;

}

.container.main {
  width: 60%;
  height: 25%;
  padding: 20%;
  margin: 10%;

}


.container-arama {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 60%;
  padding: 20%;
}
